<!DOCTYPE html>
<html lang="en" ng-app="ModuloLocadora">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema Locadora de Veiculos</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">  	  
	<link href="css/estilos.css" rel="stylesheet">	
	<script src="js/angular.min.js"></script>
	<script src="control/locadoraControl.js"></script>
	
 </head>
 <body ng-controller="locadoraControl">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<img src="img/logo1.png" class="img-responsive" alt="Imagem responsiva">
	<div ng-include="'menu.html'"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">Cadastro de Locação</div>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro Clientes</a></li>
				<li role="presentation"><a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados Clientes</a></li>
			</ul>
		<!-- Tab panes -->
		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="cadastro">			
			<form name="clienteForm" class="css-form" ng-submit="clienteForm.$valid && salvar()" novalidate>
			</br>
				<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
				<div ng-show="clienteForm.$submitted">
				<div ng-show="clienteForm.nome.$error.required">O campo nome é obrigatório</div>
	      		<div ng-show="clienteForm.nome.$error.minlength">Nome precisa ter pelo menos 3 caracteres</div>
	      		<div ng-show="clienteForm.cidade.$error.required">O campo cidade é obrigatório</div>
	      		<div ng-show="clienteForm.cidade.$error.minlength">Cidade precisa ter pelo menos 10 caracteres</div>
	      		<div ng-show="clienteForm.endereco.$error.required">Preencha o Endereço</div>
	      		<div ng-show="clienteForm.endereco.$error.minlength">Endereço precisa ter pelo menos 10 caracteres</div>
	      		<div ng-show="clienteForm.cpf.$error.required">O campo cpf é obrigatório</div>
	      		<div ng-show="clienteForm.cpf.$error.pattern">O CPF deve ter 11 numeros sem pontos e sem espaços</div>
	      		<div ng-show="clienteForm.telefone.$error.required">O campo Telefone é obrigatório</div>
	      		<div ng-show="clienteForm.telefone.$error.pattern">O Telefone deve ter o seguinte padrão XXXX-XXXX</div>
	    	</div> 
	    	</br>
			<button type="button" ng-click="novo();" id="btn_novo" class="btn btn-primary">Novo</button>
			<button type="button" ng-click="salvar();" class="btn btn-success">Salvar</button>
			<button type="button" ng-click="excluir();" class="btn btn-info">Excluir</button>
			<button type="button" ng-click="pesquisar();" class="btn btn-warning">Pesquisar</button>
			</br></br>	
			  <div class="form-group col-md-2">
				</br>
				<label for="exampleInputCodigo">Código</label>
				<input type="number" disabled="true" class="form-control" ng-model="cliente.codigo" placeholder="Codigo">
			  </div>
			  <div class="form-group col-md-5">
				</br>
				<label for="exampleInputNome">Nome</label>
				<input type="text" class="form-control" ng-model="cliente.nome" name="nome" placeholder="Insira Nome - Mínimo de 3 caracteres" required="" ng-minlength="10">
			  </div>
			  <div class="form-group col-md-5">
				</br>
				<label for="exampleInputCidade">Cidade</label>
				<input type="text" class="form-control" ng-model="cliente.cidade" name="cidade" placeholder="Insira Cidade - Mínimo de 10 caracteres" required="" ng-minlength="10">
			  </div>
			  <div class="form-group col-md-6">				
				<label for="exampleInputEndereco">Endereço</label>
				<input type="text" class="form-control" ng-model="cliente.endereco" name="endereco" placeholder="Insira Endereço - Mínimo de 10 caracteres" required="" ng-minlength="10">
			  </div>			  
			  <div class="form-group col-md-3">
				<label for="exampleInputCPF">CPF</label>
				<input type="text" class="form-control" ng-model="cliente.cpf" name="cpf" placeholder="Insira CPF" required="" ng-pattern="/^([0-9]{11})/">
			  </div>
			   
			  <div class="form-group col-md-3">				
				<label for="exampleInputTelefone">Telefone</label>
				<input type="text" class="form-control" ng-model="cliente.telefone" name="telefone" placeholder="Insira Telefone" required="" ng-pattern="/[2-9][0-9]{4}-[0-9]{4}/"></br>
			  </div> 						  
			</form>
			
			</div>
			<div role="tabpanel" class="tab-pane" id="dados"></br>
			<input type="text" class="form-control" ng-model="criterio" placeholder="Efetuei sua pesquisa aqui? " /></br>
			<table class="table table-hover" >
				<th>Código</th>
				<th>Nome</th>
				<th>Cidade</th>				
				<th>Endereço</th>
				<th>CPF</th>
				<th>Telefone</th>
			  
				<tr ng-repeat="locadoraTabela in clientes | filter:criterio" ng-click="seleciona(locadoraTabela);">
					<td>{{locadoraTabela.codigo}}</td>
					<td>{{locadoraTabela.nome}}</td>				
					<td>{{locadoraTabela.cidade}}</td>
					<td>{{locadoraTabela.endereco}}</td>
					<td>{{locadoraTabela.cpf}}</td>
					<td>{{locadoraTabela.telefone}}</td>				
				</tr>			  
			</table>			
			</div>
		  </div>
		</div>
		</div>
	</div>			